h1, p {
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(67, 67, 211);
    color: rgb(82, 158, 86);
    opacity: 0.7;
    transition-duration: 2s;
    text-align: center;
    
}

h1:hover , p:hover {
    background-color: rgb(15, 15, 46);
}

#botao {
    margin-left: 500px;
}

h1 {
    margin-top: 330px;
}